body {
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
  background-color: #020d07;
  background-image: url("../../assets/Fav-Icon.png");
  background-repeat: no-repeat;
  background-position: left top 180px;
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  color: #fff;
  margin: 1px;
  padding: 1px;
  overflow-x: hidden;
}
